body{
    background-color: #4674c1;
    color: floralwhite;
    font-family: "Helvetica";
}

img {
    width: 70%;
    display:block;
    margin: auto;
    position: relative;
    top: 10%;
    text-align: center;
    vertical-align: middle;

}

.button-color{
    background-color: #4674c1;
}

.dev {
    /*border: dashed red;*/
}
.dev-green{
    /*border: dashed green;*/
}
.dev-yellow{
    border: dashed yellow;
}

.start-page{
    position: fixed;
    top: 20%;
}

.start-page-title{
    padding-top: 6vh;
    position: relative;
    top: 10%;
    /*line-height: 200px;*/
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 6vw;
    text-align: center;
    vertical-align: middle;
    color: floralwhite;
}

.start-page-subtitle{
    padding-top: 4vh;
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: 4vw;
    text-align: center;
    vertical-align: middle;
    color: floralwhite;
}

.start-btn{
    margin-top: 50px;
    font-size: 30px;
    /*text-align: center;*/
}

.preference-page-title{
    position: relative;
    top: 10%;
    /*line-height: 1px;*/
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 4vw;
    text-align: center;
    vertical-align: middle;
    color: floralwhite;
}

.preference-page-subtitle{
    padding-top: 6vh;
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: 2vw;
    text-align: center;
    vertical-align: middle;
    color: floralwhite;
}
.verkehrsmittel-header{
    background-color: dimgray;
    color: floralwhite;
    text-align: center;
    height: 10vh;
    vertical-align: middle;
    line-height: 10vh;
    font-size: 5vh;
}
.verkehrsmittel-text{
    padding-top: 75px;
    position: relative;
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    color: floralwhite;
}

.verkehrsmittel-btn{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    width: 200px;
    text-align: center;
}
.verkehrsmittel-btn:hover{
 /*background-color: red!important;*/
}
.choose{
padding-top: 10px;
}
.entry:not(:first-of-type)
{
    margin-top: 10px;
}
.fas .fa-plus .fa-lg{
    font-size: 20px;
}
#calendar {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 30px;
}
.accept{
    display:inherit;
}
.accept:visited{
    display:none!important;
}
.preserved-timeblock{
    padding-bottom: 20px;
}